body {
    background-color: #486AA5;
    font-family: "Roboto Condensed", Sans-serif;
    color: #E3F0FF;
    text-align: center;
}
h2 {
    font-size: 3rem;
}
.game-area {
    background-color:#414656 ;
    box-sizing: border-box;
    width: 70%;
    min-width: 400px;
    max-width: 500px;
    min-height: 550px;
    border: solid #023B71 10px;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
    padding: 5%;
}

.user-choices {
    display:flexbox;
    min-height:220px;
    width: 75%;
    max-width: 200px;
    font-size: 1rem;
    border: solid #023B71 5px;
    border-radius: 25px;
    margin: auto;
    padding: 10px;
}



.btn {
    float:left;
    color: black;
    border-radius: 30%;
    background-color: #E3F0FF;
    border: 3px solid black;
    width: 50px;
    height: 50px;
    font-size: 2rem;
    margin: 20px;
    padding-top: 5px;

}

/** changes the color of the buttons when hovered over
*/
.btn:active,
.btn:hover {
    background-color: #023B71;
    color: #E3F0FF;
    border-color:#E3F0FF;
}

/*Adds text description after buttons*/
.btn::after{
    content: attr(id);
    font-size: 1rem;
    color: #E3F0FF;
}

.battle-ground {
    width: 50%;
    min-width: 200px;
    font-size: 3rem;
    margin: auto;
    padding: 20px;
}

/* When this ID is used the play-button is hidden from view to avoid user 
clicking button too early.*/
#play-button {
    display:none;   
}

/* When this ID is used the play-button is visible.*/

#show-play-button {
    background-color: #E3F0FF;
    font-family: "Roboto Condensed", Sans-serif;
    font-size: larger;
    color:#023B71;

    border-radius: 5px;
    font-weight: 300;
}

#show-play-button:active,
#show-play-button:hover {
    background-color: #023B71;
    color: #E3F0FF;
    border-color:#E3F0FF;
}


.results {
    font-size: larger;
}

#you-id {
    position:relative;
    right: 5px;
    font-size: medium;
    width: 60px;
}

#comp-id {
    position:relative;
    left: 25px;
    font-size: medium;
    width: 100px;
}

/** Changes display position of results when screen is wider than 600px**/
@media only screen and (min-width: 600px) {
    .results-lost {
        position: fixed;
        top: 200px;
        left: 75vw;
        font-size: xx-large;
        max-width:200px;
        margin: 10vw;
    }
    .results-won {
        position: fixed;
        top: 200px;
        right: 75vw;
        font-size: xx-large;
        max-width: 200px;
        margin: 10vw;
    }
}